body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.section {
    padding: 50px 20px;
}

.hero {
    background-image: url('image.jpg');
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.btn {
    background-color: #ff4081;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* New styles for home page */

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-footer {
    background-color: #ff4081;
    color: #fff;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

/* Custom CSS */
.section {
    position: relative;
    padding-bottom: 20px; /* Adjust as needed */
}

.impact-text {
    text-align: start; 
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #333; 
}

.paragraphs {
    text-align: start; 
    font-size: 22px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: #333;
}

.circular-card {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 192, 203, 0.5); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

.section img {
    max-width:1500%; 
    max-height:1300px; 
    float: right; 
    margin-right: 20px; 
    margin-left: 20px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}
